spring:
  application:
    name: base-service
  jmx:
    enabled: false
  threads:
    virtual:
      enabled: true
  main:
    keep-alive: true
  datasource:
    url: jdbc:postgresql://localhost:5432/test-db
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  liquibase:
    enabled: false
    change-log: classpath:/db/changelog/db.changelog-master.yaml

management:
  endpoints:
    jmx:
      exposure:
        exclude: "*"

snowflake:
  worker-id: 10
  datacenter-id: 10
